<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/script.js" defer></script>
    <title>Test task</title>
</head>
<body>
    <div id = "fog">
        <div class="login-container">
            <button class="exit"></button>
            <p>Войти в систему</p>
            <input type="text" id="email" placeholder="Email/Телефон">
            <input type="password" id="password" placeholder="Пароль">
            <div class = "checkbox-container">
                <input type="checkbox" id="remember">
                <label for="remember">Запомнить пароль</label>
            </div>
            <a ref="#" class="links">Восстановить</a>
            <button id="sign">Войти</button>
            <button id = "reg">Зарегистрироваться</button>
        </div>
    </div>
    <div id="main">
        <div id="frForText">
            <div>
                <p class="title">Демо-версия</p>
                <p class="text">За 18 лет деятельности было реализовано более 500 крупных, а так же, не менее 2500 средних и малых проектов. Используя знания и накопленный опыт мы можем предложить</p>
             </div>
            <button class = "butt" id="tryBytt">
                <p>Попробовать бесплатно</p>
                <div>
                    <img src="/images/arrow.png">
                </div>
            </button>
        </div>
        <img src="/images/pic.png" class="chMain">
    </div>
</body>
</html>
